{% extends "base.html" %}
{% block content %}

<h2>Upload file</h2>
    <p>Upload an image or video file.</p>
    <form action="file_uploader" method="POST"
          enctype="multipart/form-data">
        <input type="file" name="file"/>

        <div>
          <input type="radio" id="big_model" name="model_selector" value="big" checked>
          <label for="big_model">Big model (15 face points)</label>
        </div>

        <div>
          <input type="radio" id="small_model" name="model_selector" value="small">
          <label for="small_model">Small model (4 face points)</label>
        </div>

        <input type="submit"/>
    </form>

<div style="width: 100px; height: 100px;" hidden=true>
    <img src="{{ url_for('static', filename = 'progress.gif') }}">
</div>

<script>
    function update() {

        var video_form = document.getElementById("video_form");
        video_form.style.display = 'none';

        var element = document.getElementById("myprogressBar");
        var width = 1;
        var identity = setInterval(scene, 1);

        function scene() {
            if (width >= 100) {
                clearInterval(identity);
            } else {
                width++;
                element.style.width = width + '%';
            }
        }
    }
</script>

{% endblock %}