{% extends "base.html" %}
{% block content %}

<h2>Upload file</h2>
    <p>Upload an image or video file (video processing may be time-consuming).</p>
    <form action="file_uploader" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>

        <div>
          <input type="radio" id="big_model" name="model_selector" value="big" checked>
          <label for="big_model">Big model (15 face points)</label>
        </div>

        <div>
          <input type="radio" id="small_model" name="model_selector" value="small">
          <label for="small_model">Small model (4 face points)</label>
        </div>

        <input type="submit" onclick="show_progress()" />
    </form>

<div id="progress_div" hidden=true>
    <img src="{{ url_for('static', filename = 'progress.gif') }}" />
    <p>Processing of video and large images may be time-consuming...</p>
</div>

<script>
    function show_progress() {
        var progress_div = document.getElementById("progress_div");
        progress_div.hidden = false;
    }
</script>

{% endblock %}